<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jahama.proyectotwitter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="com.jahama.proyectotwitter.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.jahama.proyectotwitter.MainActivity"
            android:label="@string/app_name" >
           
        </activity>
        <activity android:name="com.jahama.proyectotwitter.PreferenciasFragment" />

        <service
            android:name="com.jahama.proyectotwitter.ActualizarTweetsService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="com.jahama.proyectotwitter.ActualizarAlarmReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.jahama.proyectotwitter.ACTION_ACTUALIZAR_TWEETS_ALARM" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.jahama.proyectotwitter.TweetsProvider"
            android:authorities="com.jahama.proyectotwitter"
            android:enabled="true"
            android:exported="true" >
        </provider>

        
    </application>

</manifest>